<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../resources/css/reset.css">
	<link rel="stylesheet" type="text/css" href="../resources/css/driver.css">
	<link rel="stylesheet" type="text/css" href="../resources/css/tablesort.css">
	<link rel="icon" type="image/png" href="../assets/images/android-icon-48x48.png">
	<meta charset="UTF-8">
</head>
<body>

<nav id="navBar">
<a href="index.html"><img id="Logo" src="../assets/images/Benz.gif"></a>
<p id="title">Benz Cabz</p>
<span id="upperNav">
<a style="border: none;" href="">New Cars</a>
<a href="">Service and Parts</a>
<a href="">Accessories</a>
<a href="">Mercedes World</a>
<a href="">Careers</a>
</span>
</nav>
<div id="contentBody">
<div id="menu">Menu</div>
<div id="optionsList">
    <section id="driverList">
    	<h3>DRIVERS</h3>
			<div id="drivers" class="driverName">
			<label for="alldriver">
				<div  class="optionsButton">
					<input type="radio" id="alldriver" name="driver" value="allDrivers" checked>
					<img src="../assets/images/user.png">
					<label>All Drivers</label>
				</div>
			</label>
			</div>
		 
    </section>
    <section id="parametersList">
    	<h3>PARAMETERS</h3>
    	<label for="score" style="margin-top: 10px;">
    	<div class="optionsButton">
    		<input type="radio" name="options" id="score" value="Scores" checked>
    		<label>Score</label>
		</div>
		</label>
		<label for="acceleration">
		<div  class="optionsButton">
			<input type="radio" name="options" id="acceleration" value="Acceleration">
			<label >Acceleration</label>
		</div>
		</label>
		<label for="breakdowns">
		<div class="optionsButton">
			<input type="radio" name="options" id="breakdowns" value="Breaks">
			<label >Breakdowns</label>
		</div>
		</label>
		<label for="turns">
		<div class="optionsButton">
			<input type="radio" name="options" id="turns" value="Turns">
			<label >Turns</label>
		</div>
		</label>
		<label for="crashes">
		<div class="optionsButton">
			<input type="radio" name="options" id="crashes" value="Crashes">
			<label>Crashes</label>
		</div>
		</label>
	</section>
</div>
	<div id="content">
		<div id="charts"></div>
		<div id="table">
			<table id="tableContainer" class="table-sort table-sort-search">
				<thead>
					<th class="table-sort">DRIVER NAME</th>
					<th class="table-sort">SCORE</th>
					<th class="table-sort">ACCELERATIONS</th>
					<th class="table-sort">BRAKES</th>
					<th class="table-sort">SHARP TURNS</th>
					<th id="crashes" class="table-sort">CRASHES</th>
				</thead>
				<tbody id="table_data">
					
				</tbody>
			</table>
		</div>
	</div>
</div>
	<footer>
		<span style="border: none;">Sitemap</span>
		<span>© Copyrights Reserved. Mercedes-Benz India Private Limited 2015-2016</span>
		<span>Cookies</span>
		<span>Privacy Statement & IP Disclaimer</span>
		<span>Legal Notice</span>
	</footer>
	
	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="http://code.highcharts.com/highcharts.js"></script>
	<script src="../resources/js/driver.js"></script>
	<script src="../resources/js/data.js"></script>
	<script src="../resources/js/tablesort.js"></script> 

</body>
</html>