@font-face {
   font-family: NewFont;
   src: url(../assets/fonts/benz.otf);
}
html{
	font-family: NewFont;
	height:100%;
}
body{
	background-color: white;
	height:100%;
	margin:0px;
}
#Logo{
height:80px;
}
#navBar{
	background-color: black;
	color: silver;
	height:auto;
	width: :100%;
	padding:10px;
	-webkit-box-shadow: 10px 10px 5px 0px grey;
	-moz-box-shadow: 10px 10px 5px 0px grey;
	box-shadow: 10px 10px 5px 0px grey;
}
#title{
	font-family: NewFont;
	color: silver;
	font-size: 50px;
	padding: 10px;
}
#subTitle{
	font-size: 30px;
	padding: 10px;
}
#sidebar{
	display: inline;
	position: absolute;
	height: auto;
	padding:10px;
}
#driverList, #parametersList{
	color:white;

}
#driverList h3, #parametersList h3{	
	margin: 0px;
	text-align: center;
	padding:10px;
	color:white;
	border-bottom:1px solid grey;
}
#driverList p, #parametersList p{
	margin: 0px;
	padding:10px;
	padding-bottom: 0px;
	color:black;
}
section{
	margin:10px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 160px;
	background-color: silver;
	height: auto;
	padding:10px;
	margin-left: 0px;
	-webkit-box-shadow: 10px 10px 5px 0px grey;
	-moz-box-shadow: 10px 10px 5px 0px grey;
	box-shadow: 10px 10px 5px 0px grey;
}
#content{
	display: inline-block;
	height:100%;
	float:right;
	margin-top: 35px;
	margin-right: 35px;
	width: 80%;
	height: 80%;
	background-color: silver;
	-webkit-box-shadow: 10px 10px 5px 0px grey;
	-moz-box-shadow: 10px 10px 5px 0px grey;
	box-shadow: 10px 10px 5px 0px grey;

}
#charts{
	position: relative;
	margin:auto;
	left: 0;
	right: 0;
	width: 70%;
	margin-top: 50px;
	height: 50%;
	background-color: white;


}
footer{
	bottom: 0px;
    clear: both;
    position: relative;
    z-index: 10;
    height: auto;
    margin-top: -3em;
    background-color: black;
    padding:10px;
    color:silver;
    text-align: center;
    cursor: pointer;
}
footer span{
	border-left: 1px solid silver;
	padding:10px;
	display: inline-block;
	/*border-right: 1px solid silver;*/
}