@font-face {
   font-family: NewFont;
   src: url(../../assets/fonts/benz.otf);
}
@font-face {
   font-family: RobotoFont;
   src: url(../../assets/fonts/Roboto-Regular.ttf);
}
html{
	font-family: NewFont;
	height:100%;
}
body{
	background-color: #D4CEBE;
	height:100%;
	margin:0px;
}
#Logo{
	height:50px;
	text-shadow: 2px 2px black;
}
#navBar{
	position: relative;
	background-color: #00695c;
	height:auto;
	width: :100%;
	padding:10px;
	-webkit-box-shadow: 10px 10px 5px 0px grey;
	-moz-box-shadow: 10px 10px 5px 0px grey;
	box-shadow: 0px 10px 5px 0px rgba(177, 167, 163, 1);
	z-index: 999;
}
#subTitle{
	font-size: 30px;
	padding: 10px;
}
#optionsList{
	display: inline-block;
	position: absolute;
	padding:10px;
	width:auto;
	padding-top: 0px;

}
#driverList h3, #parametersList h3{	
	margin: 0px;
	text-align: center;
	padding:10px;
	color: #FFF;
	background-color: #00695C;
	/*border-bottom:1px solid grey;*/
}
section{
	background-color: white;
	margin:10px;
	margin-top: 0px;
	margin-bottom: 20px;
	width: auto;
	height: auto;
	padding:10px;
	margin-left: 0px;
	box-shadow: 10px 10px 5px 0px rgba(177, 167, 163, 1);
	border-radius: 5px;
	border: 1px solid #a1a1a1;
}
#content{
	display: inline-block;
	float:right;
	width: 80%;
	height: 80%;
}
#charts{
	position: relative;
	margin:auto;
	left: 0;
	right: 0;
	width: 80%;
	margin-top: 5px;
	height: 78%;
	background-color: white;
	box-shadow: 10px 10px 5px 0px rgba(177, 167, 163, 1);



}
footer{
    position: relative;
    bottom:0;
    width:100%;
    z-index: 10;
    height: auto;
	background-color: #004d40;
    padding:10px;
    color:white;
    text-align: center;
    cursor: pointer;
}
footer span{
	border-left: 1px solid white;
	padding:10px;
	display: inline-block;
	font-weight: bold;
	/*border-right: 1px solid silver;*/
}
#navBar span{
	float:right;
	height: 20px;
	margin-top: 22px;
}
#navBar span a{
	text-decoration: none;
	border-left: 1px solid white;
	color: white;
	padding: 10px;
	font-weight: bold;
}
#navBar #title{
	display: inline;
	font-size: 45px;
	color: white;
	margin: auto;
	text-shadow: 2px 2px black;
	position: absolute;
	padding: 10px;

}
/*#title{
	font-family: NewFont;
	color: silver;
	font-size: 45px;
	padding: 10px;
}*/
#parametersList div{
	margin: 0px;
	padding:15px;
	color:black;
	font-family: RobotoFont;
}
#contentBody{
	position: relative;
	padding: 5%;
	height: 70%;
	margin-bottom: 150px;
}
.optionsButton{
	margin-top: 10px;
	background-color: white;
	cursor: pointer;
	font-family: NewFont;
	border:none;
	font-weight: bold;
	font-size: 17px;
	padding: 10px;
	border-radius: 5px;
	outline:none;
}

.optionsButton::-moz-focus-inner {
  border: 0;
}
.optionsButton:hover {
    background-color: #b2dfdb;
}
#driverList button img{
	height:35px;
	vertical-align: middle;
	padding:5px;
	width: 50px;
}
section img{
	height:35px;
	vertical-align: middle;
	padding:5px;
	width: 50px;
}
.driverName{
padding: 0px;
margin: 0px;
color:black;
}
#allDrivers{
	margin: 0px;
	margin-top: 10px;
	padding:10px;
	color:black;
}
.btnImg{
	float:left;
	margin:0px;
	padding:0px;
}
form{
	margin-top: 10px;
}
@media (max-width: 850px) {
	#upperNav{
		display: none;
	}
}
label{
	cursor: pointer;
}
input{
	cursor: pointer;
}